div{
	width: 100px; height: 100px;
	margin: 5px;
	border: 2px solid black;
	text-align: center;
	line-height: 100px;
}
div.ultimo{
	line-height: 16px;
	overflow: auto;	
}
div.topsecret{
	/*visibility: hidden;*/
	display: none;
}
h1, p, span{
	border: 1px solid red;	
}
h1, p{
	display: inline;
}
span{
	display: block;
}