.container {
	width: 90%;
	margin: 20px auto;
}

ul {
	padding: 0px;
	margin: 0px;
	width: 100%;
	overflow: hidden;
}

li {
	list-style-type: none;
}

a {
	padding: 6px 10px;
	border: 1px solid #333;
	border-radius: 20px;
	text-decoration: none;
	color: #333;
	padding-left: 20px;
	box-shadow: 2px 2px 2px #333;
	line-height: 20px;
	margin: 5px;
	float:left;
	width: 15%;
	text-align:center;
	background-color: white;
	transition: background-color 1s;
	position: relative;
}

a::before {
	content: ' ';
	display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
	background-image: url(flecha.png);
	background-position: 6px 11px;
	background-repeat: no-repeat;
	background-size: 10px 10px;
	transition-property: background-size opacity;
	transition-duration: 1s, 0.5s;
}

a:hover {
	background-color: rgba(0,255,255,.5);
}

a:hover::before {
	background-size: 50px 50px;
	opacity: 0;
}
