div.contador {
	width: 50px; height: 50px;
	border: 1px solid black;
	background-color: green; color: white;
	line-height: 50px;
	text-align: center;
	margin:1px;
	position:absolute;
}

div.contenedor {
	width: 200px; height:200px;
	border: 1px solid #ccc;
	text-align: center;
	line-height: 400px;
}

div.contenedor.yellow {
	float:left;
	background-color: yellow;
}

div.contenedor.azul {
	float:right;
	background-color: blue;
}

div.contenedor-azul p {

}

.moviendo {
	background-color: yellow;
	color: black;
}