ul.menu {
	width: 300px;
	padding: 0px;
	margin: 0px;
}
ul.menu>li {
	list-style: none;
	background-image: url('../img/flecha_inactiva.png');
	background-position: 5px 12px;
	background-repeat: no-repeat;
	background-color: #ddd;
	border: 1px solid #333;
	padding: 10px;
	padding-left: 30px;
}

ul.menu>li:hover {
	background-image: url('../img/flecha_activa.png');
	background-color: #f1f1f1;
}